# Advanced Queries With Data

### Introduction

In this lesson, we'll learn some strategies for working with messy data, so that we can better answer questions.  Along the way, we'll learn about the `and` and `or` operators, as well as cleaning our list of dictionaries.

### Loading our Data

Let's begin with loading our data from a CSV file and assigning our list of dictionaries to the variable `users`.

In [2]:
import pandas as pd

df = pd.read_csv('./twitter_accounts.csv', thousands = ',')
users = df.drop(columns = ['Rank', 'Activity', 'twitter handle']).to_dict('records')

We can see that each user is a different twitter user.

In [3]:
users[:2]

[{'Name': 'Barack Obama',
  'Followers': 110890048,
  'Following': 610113,
  'Tweets': 15704,
  'Nationality/headquarters': 'U.S.A',
  'Industry': 'Politics'},
 {'Name': 'KATY PERRY',
  'Followers': 108315414,
  'Following': 222,
  'Tweets': 10202,
  'Nationality/headquarters': 'U.S.A',
  'Industry': 'Music'}]

Now one issue -- and a common issue with data, is that it is often inconsistent.  For example, let's get a list of the industries that each of our twitter users works in.

In [5]:
industries = []

for user in users:
    industries.append(user['Industry'])

In [7]:
industries[:6]

['Politics', 'Music', 'Music', 'Music', 'Music', 'Sports']

And then we can turn this into a unique collection of industries, by passing this into Python's `set` function.

In [14]:
# update the line below to get a unique set of industries
unique_industries = set(industries)

print(unique_industries)

{'Technology ', 'Films/Entertainment', 'news', 'Politics', 'News', 'Space Agency', 'music', 'Music', 'Publishing Industry', 'Sports', 'Television', 'Business', 'sports'}

As we discussed in the Twitter lab, by calling `set(industries)` we turn our list into a set -- where a set is a unique collection of elements.  So notice that above that each element in our collection is unique.

Well kinda..

Notice that we have a couple of values listed twice -- once lowercased and once uppercased.  We can see this with Music, News and Sports.

### More advanced queries

Now let's say we want to find all of the twitter users whose industry is music.  If we try to find those in the music industry by seeing what matches `Music`, we'll miss all of the users who have music listed with a lowercase.  One way to solve for this is with an `or` statement.  We can use it like so.

In [24]:
musical_usernames = []

for user in users:
    if user['Industry'] == 'Music' or user['Industry'] == 'music':
        musical_usernames.append(user['Name'])

In [25]:
musical_usernames[:3]

['KATY PERRY', 'Justin Bieber', 'Rihanna']

Let's focus on the if statement above.

```python
if user['Industry'] == 'Music' or user['Industry'] == 'music':
    ...
```

So now our if statement is asking two questions -- does the industry equal `Music` or does the industry equal `music`.  If either expression returns True, the entire statement will evaluate to True.

> We can see this below with our user of `KATY PERRY`.

In [26]:
user = {'name': 'KATY PERRY', 'Industry': 'music'}

user['Industry'] == 'Music' or user['Industry'] == 'music' # True

True

Ok, so this time it's your turn.  Use an `or` statement to find a list of all users who are in sports, whether sports is capitalized or lowercased.

> Do not copy and paste the above statement -- we need to build muscle memory.

In [35]:
athletic_usernames = []

# write code here
        
athletic_usernames[:5]

# ['Cristiano Ronaldo', 'Neymar Jr', 'LeBron James', 'SportsCenter', 'ESPN']

['Cristiano Ronaldo', 'Neymar Jr', 'LeBron James', 'SportsCenter', 'ESPN']

> Confirm that we have all 17 users above.

In [36]:
len(athletic_usernames)

17

Finally, while `or` allows us to will evaluate to True if either condition holds, the keyword `and` only returns True when **both** conditions evaluate to `True`.  For example, let's say we want to find users who have fewer than 10 followers *and* fewer than 500 tweets.  We can do so with the following:

In [50]:
low_activity_users = []

for user in users:
    if user['Following'] < 10 and user['Tweets'] < 500:
        low_activity_users.append(user)
        
low_activity_users[:5]

[{'Name': 'Taylor Swift',
  'Followers': 85520236,
  'Following': 0,
  'Tweets': 396,
  'Nationality/headquarters': 'U.S.A',
  'Industry': 'Music'},
 {'Name': 'Adele',
  'Followers': 27488867,
  'Following': 0,
  'Tweets': 310,
  'Nationality/headquarters': 'U.K',
  'Industry': 'music'}]

### Performing calculations

Once we have our data in a list, we can ask some questions about the list.  For example, let's say that we want to find calculate *maximum* number of tweets across all of our users.  We can do so with the `max` function.

In [8]:
max([10, 12, 15, 14])

15

Now we cannot use max directly with a list of dictionaries.  This is because there are multiple attributes per each dictionary, and Python doesn't know what we want you want to find the maximum of.  For example, below do we want to find the maximum number of tweets, or maximum number of followers.

In [9]:
users[:2]

[{'Name': 'Barack Obama',
  'Followers': 110890048,
  'Following': 610113,
  'Tweets': 15704,
  'Nationality/headquarters': 'U.S.A',
  'Industry': 'Politics'},
 {'Name': 'KATY PERRY',
  'Followers': 108315414,
  'Following': 222,
  'Tweets': 10202,
  'Nationality/headquarters': 'U.S.A',
  'Industry': 'Music'}]

So instead, we should first get a single list of numbers -- not dictionaries.  
> Below we get a list of the number of tweets for each user.

In [11]:
tweet_numbers = []
for user in users:
    tweet_numbers.append(user['Tweets'])
tweet_numbers[:3]

[15704, 10202, 30462]

And then we can find the maximum of *that*.

In [13]:
max(tweet_numbers)

474764

Or we can find the minimum in the list.

In [14]:
min(tweet_numbers)

15

Another useful thing we can do with lists is add up all of the numbers in the list -- and we can calculate this with the `sum` operator.

In [15]:
sum(tweet_numbers)

4190225

So we can seet that there are `4190225` tweets across all of our users.  And if we want to then find the average number of tweets?  Well we can just divide by the number of users.  

> In Python we divide with the `/`.  For example, `10/2` returns 5.

In [17]:
total_tweets = sum(tweet_numbers)
length_of_list = len(tweet_numbers)

total_tweets/length_of_list

41902.25

So we can see that our users have an average of `41902.25` tweets.  So to divide we use the `/` and to find the average in a list we add up the elements and divide by the length of the list.  

Now if you want to multiply in Python, you can use the `*` operator.

In [18]:
10*10

100

And the other operators work the way you would expect.

In [19]:
10 - 2

8

In [20]:
10 + 2

12

### Summary

In this lesson, we learned a couple of techniques for exploring our data.  We first learned to how to handle our data by working with more advanced queries.

In [37]:
import pandas as pd

df = pd.read_csv('./twitter_accounts.csv', thousands = ',')
users = df.drop(columns = ['Rank', 'Activity', 'twitter handle']).to_dict('records')

For example, we can select users that have industry of `music` or `Music` like so.

In [42]:
musical_usernames = []

for user in users:
    if user['Industry'] == 'Music' or user['Industry'] == 'music':
        musical_usernames.append(user['Name'])
        
musical_usernames[:5]

['KATY PERRY', 'Justin Bieber', 'Rihanna', 'Taylor Swift', 'Lady Gaga']