# For Loops

### Introduction

In the last lesson, we saw how we can use loops to move through the elements of a list one by one, and perform the same operation on each element.

In [2]:
for number in [1, 2, 3]:
    print('hello')

hello
hello
hello

We know that we write loops with the following pattern:

```python
for element in list_of_elements:
    do_something
```

In this lesson, we'll work up to using loops with our nested data structures.

### Calling methods in a loop

Once again, let's start with our list of restaurants.

In [2]:
import pandas as pd

In [8]:
url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"

In [25]:
tables = pd.read_html(url)
cities_df = tables[4]
cities = cities_df.to_dict('records')

In [26]:
cities[0]

{'2018rank': 1,
 'City': 'New York[d]',
 'State[c]': 'New York',
 '2018estimate': 8398748,
 '2010Census': 8175133,
 'Change': '+2.74%',
 '2016 land area': '301.5\xa0sq\xa0mi',
 '2016 land area.1': '780.9\xa0km2',
 '2016 population density': '28,317/sq\xa0mi',
 '2016 population density.1': '10,933/km2',
 'Location': '40°39′49″N 73°56′19″W\ufeff / \ufeff40.6635°N 73.9387°W'}

In [3]:
restaurants = ['chipotle', 'chopt', 'arbys']

Now instead of just printing out each element, use the `capitalize()` to capitalize the element, and then print it out.  First let's make sure we know how to capitalize a single element.

In [4]:
'chipotle'.capitalize()

'Chipotle'

And we can combine that with our `print` statement, like:

In [5]:
print('chipotle'.capitalize())

Chipotle

Now try iterating through our list of restaurants, printing the capitalized form of each restaurant. You'll know it's working if you see the capitalized restaurants printed out.

In [6]:
restaurants = ['chipotle', 'chopt', 'arbys']


# write code to iterate through the list here

Ok, now hopefully you had a little bit of success with the above challenge.  If you didn't, just move away from your computer for a couple of minutes -- give your brain a break -- and then try it again.  We'll wait :)

### Using a loop to create a new list

Ok, now let's move a little further by using a loop to create a new list.  So this time, we don't need to **print out** our capitalized elements in our list.  Instead we'll add each capitalized element to a new list.

Let's think about how we can do this.  

Once again here, is our list.

In [7]:
restaurants = ['chipotle', 'chopt', 'arbys']

And this time, we want add the capitalized form of each element to a new list.  Before we do this with all elements, let's just try it with one.  First, we create our new list.

In [8]:
capitalized_restaurants = []

Then we select the first element, and capitalize it, and add it to our list.

In [10]:
first_restaurant = restaurants[0]

capitalized_first = first_restaurant.capitalize()

In [12]:
capitalized_restaurants.append(capitalized_first)

Let's see how we did.

In [13]:
capitalized_restaurants

['Chipotle']

So the entire code was the following.

In [16]:
capitalized_restaurants = []

first_capitalized = restaurants[0].capitalize()
capitalized_restaurants.append(first_capitalized)

capitalized_restaurants

['Chipotle']

Try writing the code to capitalizedd the second restaurant in `restaurants` and add it to an empty `capitalized_restaurants` list.

In [17]:
restaurants = ['chipotle', 'chopt', 'arbys']
capitalized_restaurants = []

### write some code here

capitalized_restaurants
# ['Chopt']

[]

Ok, if you were able to do that, it's time for us to try capitalizing and adding all of our restaurants to a list.

In [18]:
restaurants = ['chipotle', 'chopt', 'arbys']
# initialize the 
capitalized_restaurants = []

for restaurant in restaurants:
    cap_restaurant = restaurant.capitalize()
    capitalized_restaurants.append(cap_restaurant)
    
capitalized_restaurants

['Chipotle', 'Chopt', 'Arbys']

Take a look at the code, notice that the code almost matches the code we used for just operating on a single restaurant.

In [19]:
restaurants = ['chipotle', 'chopt', 'arbys']
capitalized_restaurants = []

first_capitalized = restaurants[0].capitalize()
capitalized_restaurants.append(first_capitalized)

capitalized_restaurants

['Chipotle']

This is a good technique to lean on if you get stuck.  Make the problem easier by solving the problem on one element, and then modify the code to use a loop and solve for many elements.

Here's a challenge for you, created a list of restaurants with all of the restaurants upper cased.  We can uppercase a string like so:

In [20]:
'hello'.upper()

'HELLO'

Once again, we'll get you started:

In [25]:
restaurants = ['chipotle', 'chopt', 'arbys']
uppercased_restaurants = []



uppercased_restaurants

# ['CHIPOTLE', 'CHOPT', 'ARBYS']

[]

### Summary

In this lesson, we saw how we can create new lists of data with loops.  

It can be difficult to write loops, so it's great to this down into steps.  First, try to perform the procedure on just the first element in the list.  Once that works, identify the code that is repeated for each element in the list, and identify the code that changes as the block variable changes.  Use this technique as you move through the coming lab.